#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* RED */
.stl-red {
  margin: 5px 1px 5px 1px;
}

.stl-red button {
  background-color: rgb(245, 115, 115);
}

.stl-red span {
  background-color: rgb(245 115 115 / 48%);
  padding: 1px 20px 2px 20px;
}

/* BLUE */
.stl-blue {
  margin: 5px 1px 5px 1px;
}

.stl-blue button {
  background-color: rgb(115, 171, 245);
}

.stl-blue span {
  background-color: rgb(115, 171, 245, 48%);
  padding: 1px 20px 2px 20px;
}

/* --------------------- */
.box {
  display: flex;
}

.box-horizontal {
  display: flex;
  flex-direction: row;
}

.box-vertical {
  display: flex;
  flex-direction: column;
}

.box-fit {
  max-width: 100%;
  overflow: hidden;
}

.box-align-center {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.box-align-between {
  justify-content: space-between;
}

.box-align-right {
  justify-content: right;
}

.box-align-left {
  justify-content: left;
}

.box-align-bottom {
  justify-content: flex-end;
}

.box-align-top,
.MuiListItem-root.box-align-top {
  justify-content: flex-start;
  align-items: flex-start;
}

.box-shadow {
  -webkit-box-shadow: 7px 4px 9px #d3d2e1;
  box-shadow: 7px 4px 9px #d3d2e1;
}